header.header
    h1.logo BBS
    div.wrap-nav
        nav.nav-main
            a.nav-link(href="/") Home
            a.nav-link(href="/posts") Posts
            a.nav-link(href="/login") Login
            a.nav-link(href="/signup") Sign Up