extends layout

block content
    h2.title-login Signup
    div.wrap-form
        form.form-login(action="/users" method="post")
            fieldset user information
                div
                    label.label-input-id(for="userId")
                    input#userId(type="text" value="" name="userId" placeholder="Enter user ID")
                div
                    label.label-input-pass(for="userPass")
                    input#userPass(type="password" value="" name="userPass" placeholder="Enter Password")
                div
                    label.label-input-passcheck(for="userPassCheck")
                    input#userPassCheck(type="password" value="" name="userPassCheck" placeholder="Enter Password Again")
                input(type="submit" value="login")